<div>
    <form (ngSubmit)="newUser()">
        <input type="submit" value="Add new user" />
    </form>
</div>

<div class="user-list" *ngFor="let user of users">
    <mat-card class="user">
        <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
        <mat-card-content>
            <ul>
                <li>IBAN: {{user.iban}}</li>
            </ul>
        </mat-card-content>
        <mat-card-actions *ngIf="user.own">
            <div class="edit-user fake-anchor">
                <a [routerLink]="['edit', user.id]">Edit</a>
            </div>
            <div class="delete-user fake-anchor" (click)="deleteUser(user)">
                Delete
            </div>
        </mat-card-actions>
    </mat-card>
</div>