<div>
    <form (ngSubmit)="newUser()">
        <input type="submit" value="Add new user" />
    </form>
</div>

<div class="user-list" *ngFor="let user of users">
    <div class="user">
        <h3 class="user-name">{{user.name}}</h3>
        <ul>
            <li>Street: {{user.street}}</li>
            <li>Phone: {{user.phone}}</li>
            <li>IBAN: {{user.iban}}</li>
        </ul>
        <div class="edit-user fake-anchor">
            <a [routerLink]="['edit', user.id]">Edit</a>
        </div>
        <div class="delete-user fake-anchor" (click)="deleteUser(user)">
            Delete
        </div>
    </div>
</div>