$total-card-height: 3.5em;

.admin-photo {
    float: left;
    height: $total-card-height;
}

.admin-info {
    font-size: small;
    margin-left: 5em;
    line-height: 0.25em;
    height: $total-card-height;
}